In [16]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [17]:
df=pd.read_csv('Data/churn.csv')

In [18]:
df

,Churn,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0,128,1,1,2.70,1,265.1,110,89.0,9.87,10.0
1,0,107,1,1,3.70,1,161.6,123,82.0,9.78,13.7
2,0,137,1,0,0.00,0,243.4,114,52.0,6.06,12.2
3,0,84,0,0,0.00,2,299.4,71,57.0,3.10,6.6
4,0,75,0,0,0.00,3,166.7,113,41.0,7.42,10.1
...,...,...,...,...,...,...,...,...,...,...,...
3328,0,192,1,1,2.67,2,156.2,77,71.7,10.78,9.9
3329,0,68,1,0,0.34,3,231.1,57,56.4,7.67,9.6
3330,0,28,1,0,0.00,2,180.8,109,56.0,14.44,14.1
3331,0,184,0,0,0.00,2,213.8,105,50.0,7.98,5.0
3332,0,74,1,1,3.70,0,234.4,113,100.0,13.30,13.7

In [19]:
#X=df.drop(['DataUsage'],axis=1)
X=df.drop(['Churn'],axis=1)

In [20]:
X

,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,128,1,1,2.70,1,265.1,110,89.0,9.87,10.0
1,107,1,1,3.70,1,161.6,123,82.0,9.78,13.7
2,137,1,0,0.00,0,243.4,114,52.0,6.06,12.2
3,84,0,0,0.00,2,299.4,71,57.0,3.10,6.6
4,75,0,0,0.00,3,166.7,113,41.0,7.42,10.1
...,...,...,...,...,...,...,...,...,...,...
3328,192,1,1,2.67,2,156.2,77,71.7,10.78,9.9
3329,68,1,0,0.34,3,231.1,57,56.4,7.67,9.6
3330,28,1,0,0.00,2,180.8,109,56.0,14.44,14.1
3331,184,0,0,0.00,2,213.8,105,50.0,7.98,5.0
3332,74,1,1,3.70,0,234.4,113,100.0,13.30,13.7

In [21]:
Y=df['Churn']
Y=pd.DataFrame(Y)
Y

      Churn
0         0
1         0
2         0
3         0
4         0
...     ...
3328      0
3329      0
3330      0
3331      0
3332      0

[3333 rows x 1 columns]

In [22]:
scale= StandardScaler()
X1=scale.fit_transform(X)
X1= pd.DataFrame(X1, columns=X.columns)
X1

,AccountWeeks,ContractRenewal,DataPlan,DataUsage,CustServCalls,DayMins,DayCalls,MonthlyCharge,OverageFee,RoamMins
0,0.676489,0.327580,1.617086,1.480204,-0.427932,1.566767,0.476643,1.990727,-0.071584,-0.085008
1,0.149065,0.327580,1.617086,2.266072,-0.427932,-0.333738,1.124503,1.564510,-0.107082,1.240482
2,0.902529,0.327580,-0.618396,-0.641642,-1.188218,1.168304,0.675985,-0.262133,-1.574346,0.703121
3,-0.428590,-3.052685,-0.618396,-0.641642,0.332354,2.196596,-1.466936,0.042307,-2.741846,-1.303026
4,-0.654629,-3.052685,-0.618396,-0.641642,1.092641,-0.240090,0.626149,-0.931902,-1.037927,-0.049184
...,...,...,...,...,...,...,...,...,...,...
3328,2.283878,0.327580,1.617086,1.456628,0.332354,-0.432895,-1.167924,0.937363,0.287344,-0.120832
3329,-0.830437,0.327580,-0.618396,-0.374447,1.092641,0.942447,-2.164631,0.005775,-0.939320,-0.228304
3330,-1.835055,0.327580,-0.618396,-0.641642,0.332354,0.018820,0.426808,-0.018581,1.730942,1.383778
3331,2.082955,-3.052685,-0.618396,-0.641642,0.332354,0.624778,0.227466,-0.383909,-0.817048,-1.876211
3332,-0.679745,0.327580,1.617086,2.266072,-1.188218,1.003042,0.626149,2.660496,1.281297,1.240482

In [23]:
x_train,x_test,y_train,y_test=train_test_split(X1,Y,test_size=0.2 , random_state=1)

In [24]:
y_train

      Churn
1680      0
81        0
151       0
774       0
790       0
...     ...
2763      0
905       1
1096      0
235       1
1061      0

[2666 rows x 1 columns]

### Linear regression

In [25]:
logisticRegr = LogisticRegression()
logisticRegr.fit(x_train, y_train)

d:\mlproject_new\venv\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [26]:
y_pred=logisticRegr.predict(x_test)

In [27]:
cm = metrics.confusion_matrix(y_test, y_pred)
cm
print('Linear regression accuracy:')
print(metrics.accuracy_score(y_test, y_pred))

Linear regression accuracy:
0.8545727136431784

### Random Forest

In [28]:
clf = RandomForestClassifier(n_estimators = 100)
clf.fit(x_train, y_train)
y_pred1=clf.predict(x_test)
y_pred1
print('Random Forest accuracy:')
print(metrics.accuracy_score(y_test, y_pred1))

d:\mlproject_new\venv\lib\site-packages\sklearn\base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest accuracy:
0.9355322338830585

### SVM

In [29]:
clf1 = svm.SVC(kernel='linear')
clf1.fit(x_train, y_train)
y_pred2 = clf1.predict(x_test)
y_pred2
print('SVM accuracy:')
print(metrics.accuracy_score(y_test, y_pred2))

d:\mlproject_new\venv\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVM accuracy:
0.8530734632683659